<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuange.lesson">

    <!-- 录音权限  -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".modules.lesson.view.LessonActivity" />

        <activity android:name=".modules.media.view.VideoActivity" />
        <activity android:name=".modules.media.view.VideoGalleryActivity" />

        <activity android:name=".modules.topquality.view.TopQualityActivity" />
        <activity android:name=".modules.topquality.view.CollectionActivity" />
        <activity android:name=".modules.unit.view.UnitActivity" />

        <activity android:name=".modules.course.view.CourseModulesActivity" />
        <activity android:name=".modules.course.view.CourseLessonsActivity" />
        <activity android:name=".modules.course.view.CoursePackagesActivity" />
        <activity android:name=".modules.course.view.CourseSubActivity" />
        <activity android:name=".modules.course.view.CourseAllActivity" />
        <activity android:name=".modules.course.view.MediaCourseActivity" />


        <activity android:name=".modules.teacher.view.TeacherInfoActivity" />
        <activity android:name=".modules.teacher.view.TeacherListActivity" />

        <activity android:name=".modules.news.view.NewsListActivity" />
        <activity android:name=".modules.news.view.NewsDetailActivity" />

    </application>
</manifest>