<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meten.xyh">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--                        <activity android:name="com.shuange.lesson.modules.course.view.CourseInfoActivity" >-->
                <activity android:name=".modules.main.view.MainActivity" >


            <!--        <activity android:name=".modules.login.view.LoginActivity">-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <activity android:name=".modules.main.view.MainActivity" >-->

        <activity android:name=".modules.search.view.SearchActivity" />

        <activity android:name=".modules.usersetting.view.StepActivity" />
<!--        <activity android:name=".modules.usersetting.view.InterestActivity" />-->
        <activity android:name=".modules.usersetting.view.ObjectiveActivity" />
        <activity android:name=".modules.usersetting.view.SignatureActivity" />

        <activity android:name=".modules.course.view.MediaCourseActivity" />

        <activity android:name=".modules.user.view.CreateUserActivity" />
        <activity android:name=".modules.user.view.ChangeUserActivity" />
        <activity android:name=".modules.user.view.UserInfoActivity" />
        <activity android:name=".modules.user.view.ChangePasswordActivity" />
        <activity android:name=".modules.user.view.ChangePhoneActivity" />

        <activity android:name=".modules.recharge.view.RechargeActivity" />
        <activity android:name=".modules.recharge.view.RechargeHistoryActivity" />


        <activity android:name=".modules.teacher.view.TeacherInfoActivity" />
        <activity android:name=".modules.teacher.view.TeacherListActivity" />

        <activity android:name=".modules.news.view.NewsListActivity" />

        <activity
            android:name="com.meten.xyh.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

<!--        <activity android:name=".modules.order.view.OrderActivity" />-->

    </application>

</manifest>